@model IEnumerable<InvoiceGenerator.Models.Products>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Products</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.total)
                    </th>
                    <th>
                        <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i> New
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.productName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.total)
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.productId">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="AddOrEdit" asp-route-id="@item.productId" class="btn btn-warning">
                                       Edit
                                    </a>
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure to delete this record?')">
                                        Delete
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

